.services-container {
  background-color: black;
  background-image: url("../../data/services-background.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  height: 800px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  box-sizing: border-box;
  align-content: space-around;
}

.services-inner-box {
  border: 2px solid white;
  height: 750px;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 1rem;
}

#services-title {
  font: 800 40px Arial;
  align-items: centers;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  padding-bottom: 40px;
  padding-top: 20px;
}

#services-text {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  padding-bottom: 20px;
}

#first-row {
  display: flex;
  flex-direction: row;
}

#second-row {
  display: flex;
  flex-direction: row;
}

#service1 {
  width: 300px;
  margin: auto;
  padding: 30px;
}

#service2 {
  width: 300px;
  margin: auto;
  padding: 30px;
}

#service3 {
  width: 300px;
  margin: auto;
  padding: 30px;
}

#service4 {
  width: 300px;
  margin: auto;
  padding: 30px;
}

#service5 {
  width: 300px;
  margin: auto;
  padding: 30px;
}

#service6 {
  width: 300px;
  margin: auto;
  padding: 30px;
}

@media (max-width: 768px) {
  .services-container {
    height: fit-content;
  }
  .services-inner-box {
    height: fit-content;
    width: fit-content;
  }
  #services-text {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #services-text > * {
    flex: 1 1 200px;
  }
  #first-row {
    flex-direction: column;
  }
  #second-row {
    flex-direction: column;
  }
}
