.nav-bar-container {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
}

.logo {
  height: 60px;
  width: 220px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

#getaquotebutton {
  border-radius: 25%;
  background-color: #b1b1b1;
  height: 60px;
  margin: 20px;
}

#linkgetaquote {
  border: 1px black solid;
  color: black;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.nav-bar-link {
  text-decoration: none;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-position: center;
  transition: 0.6s;
  letter-spacing: 1px;
  position: relative;
  margin: 1px;
}

.nav-bar-link .active {
  color: #ff0000;
}

.nav-bar-link:hover {
  color: grey;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-link-container {
    width: 100%;
  }

  .nav-bar-link,
  .nav-bar-link-active {
    font-weight: 400;
    font-size: 10px;
    width: 5rem;
  }
}
