.nav-bar-container {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
}

.nav-title-container {
  flex: 1;
  align-items: center;
  text-align: left;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  /* border: solid; */
}

.logo-img {
  height: 70px;
  display: inline-flex;
  margin-left: 45px;
}

.nav-link-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-bar-link {
  text-decoration: none;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-position: center;
  transition: 0.6s;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  position: relative;
}

.nav-bar-link:hover {
  color: var(--teal);
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .nav-bar-container {
    width: 100%;
  }

  .logo-img {
    margin-left: 0px;
  }

  .nav-bar-link,
  .nav-bar-link-active {
    font-weight: 400;
    font-size: 16px;
    width: 5rem;
  }
}
