.whyus-container {
  background-color: black;
  color: white;
  display: flex;
  height: 800px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

#whyus-title {
  font: 800 40px Arial;
  align-items: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  padding-bottom: 70px;
}

#whyus-history {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#whyus-text {
  display: flex;
  justify-content: space-between;
}

#craftsmanship {
  width: 300px;
  margin: auto;
  padding: 50px;
}

#experience {
  width: 300px;
  margin: auto;
  padding: 50px;
}

#professionalism {
  width: 300px;
  margin: 19px;
  padding: 50px;
}

@media (max-width: 768px) {
  .whyus-container {
    height: fit-content;
  }
  #whyus-text {
    flex-direction: column;
  }
  #craftsmanship {
    border: 1px solid white;
  }
  #experience {
    border: 1px solid white;
  }
  #professionalism {
    border: 1px solid white;
    margin: 0;
  }
}
